$vars: (
    
    primary: #bc2a2b,
    primary-hover: #d73b3b,
    secondary: #af48c2,
    radius: 10px,    
    text-size: 16px,

    password-toggle-radius: var(--radius),
    input-radius-md: var(--radius),
    button-radius-md: var(--radius),
    pin-radius: var(--radius),

);

$light: (
    body: #e6eaf2,
    text: #111,
    btn-text: #fff,
    input: #fff,
    cover-bg: rgba(230,234,242,0.8),

    button-link: #fff,
    button-link-border: #d9dfe9,
);

$dark: (
    body: #222,
    cover-bg: rgba(34,34,34,0.8),
    text: #e6eaf2,
    button-link: #444,
    button-link-border: #555,
);

body {

    color-scheme: light dark;

    @each $name, $value in $vars{
        --#{$name}: #{$value};
    }

    
    @each $name, $value in $light {
        --#{$name}: #{$value};
    }   
    
}

[color-scheme="dark"] {
    body{
        @each $name, $value in $dark {
            --#{$name}: #{$value};
        }
    }
}

html, body {
  background: var(--body);
  color: var(--text);
}

a{ color: var(--text); user-select: none; }