/**
* @file /src/app/docs/[[...component]]/controls.tsx
*/
.hmg9s1y{height: fit-content;}
.dgbsBB{display:flex;}
.fEXive{flex-direction:column;}
/**
* @file /src/app/docs/[[...component]]/highlighter.tsx
*/
.pg9hBD{position:relative;}
.h7R3uOB{height: 100%;}
.fqPGSJX{flex: 1;}
.pe7iGy{position:absolute;}
.tGrnS9l{top: 5px;}
.rvqeSGQ{right: 5px;}
.bA9PlB31NuXr{background: rgba(255,255,255,0.1);}
.bodEhRL{border-radius: 10px;}
.aRefo0{align-items:center;}
.pXnLuRg{padding: 5px;}
.bNvWhlv{background: rgba(0,0,0,0) !important;}
/**
* @file /src/app/docs/[[...component]]/page.tsx
*/
.wPqXcWp{width: 100vw;}
.gylLTW3{gap: 10px;}
/**
* @file /src/app/docs/[[...component]]/portal.tsx
*/
.w1WZD0Sp1{width: calc(100vw - 300px);}
.mo3XfRg{min-height: 50vh;}
.j5XcAD{justify-content:center;}
.pBnAHen{padding: 50px;}
/**
* @file /src/app/docs/[[...component]]/preview.tsx
*/
.brE5tOZ{background: #fff;}
.mG9RiNP{min-height: 100vh;}
.t57Xcby{top: 20px;}
.l0Aot5G{left: 20px;}
.waBbCMP{width: 100%;}
.oOm7S1a{overflow: hidden;}
/**
* @file /src/app/docs/[[...component]]/sidebar.tsx
*/
.gdv5ca0{gap: 20px;}
.pQorHve{padding: 25px;}
.m1QBFOR{max-width: 300px;}
.mbaBtOg{margin-bottom: 25px;}
.glP5TDj{gap: 4px;}
.wRojU4b{width: 25px;}
.fB4pieP{font-size: 18px;}
.f8QaiEE{font-weight: 900;}
.fjEwi1N{font-size: 14px;}
.bWllTp1{background: var(--button-link);}
.baobfnN{border-radius: 5px;}
.pl3vptj1{padding: 1px 4px 0px 4px;}
.bwyJiJA{border: 1px var(--button-link-border) solid;}
.o03ktyj{opacity: 0.5;}
.mLlEtle{margin-left: 20px;}
.mJovF9v{margin: 20px;}
.tBpFe1{text-decoration:none;}
/**
* @file /src/app/done.tsx
*/
.fXdZS1d{font-size: 24px;}
.f34czo{font-weight: bold;}
.fXdNIDg{font-size: 16px;}
.wbzkHNJ{width: 500px;}
.pGpbI38{padding: 20px;}
.bqLohRB{border-radius: var(--radius);}
.fdrns9Q{font-size: 50px;}
.cXE0UEj{color: var(--red-800);}
.c4krskq{color: var(--green-700);}
.mo3dsBX{margin-top: 25px;}
/**
* @file /src/app/error.tsx
*/
.zMZZsRX{z-index: 3;}
.pd3ovmEtaZ{padding: 20vh 20px 20px 20px;}
.hm8qi5k{height: 10px;}
/**
* @file /src/app/header.tsx
*/
.p8DPeUqd{padding: 40px 25px;}
.zqdBFEX{z-index: 99;}

.hXVkiEW{height: 70px;}
.jQkCyD{justify-content:flex-end;}
.cav7ubO{color: var(--text);}
.gBBPt2J{gap: 6px;}
.foelHRG{font-size: 10px;}
.mPvXfAm{margin-right: 1px;}
.pA0NsJ3{padding: 4px 10px;}
.bN5ZqEfQb{border-radius: 20px 0px 0px 20px;}
.z68blK{&:hover{background: var(--primary);border: 1px var(--primary) solid;color: #fff;transform: scale(1.1);}}
.tZ5vunX{transition: all 0.1s linear 0s;}
.bMAlDf1L{border-radius: 0px 20px 20px 0px;}
/**
* @file /src/app/layout.tsx
*/
/**
* @file /src/app/not-found.tsx
*/
/**
* @file /src/app/oauth.tsx
*/
/**
* @file /src/app/page.tsx
*/
.hzMAS0j{height: 90vh;}
.g7aWcva{gap: 15px;}
.cZX4Hnn{color: transparent;background-clip: text;-webkit-background-clip: text;}
.bJeeu9j{background-image: linear-gradient(to right, var(--primary), var(--secondary));}
.f49WUZy{font-size: 36px;}
/**
* @file /src/app/u/recover/page.tsx
*/
.mMaElUBq{min-height: calc(100vh - 70px);}
.wwmGCX8{width: 400px;}
.gJzVTZA{gap: 12px;}
.f5aAhOw{font-size: 30px;}
.mOomtWE{margin-bottom: 30px;}
.wEpGCwX{width: 100% !important;}
.mmkwt34{margin-top: 35px;}
/**
* @file /src/app/u/recover/update/page.tsx
*/
.mEZG9BClB{min-height: calc(100vh - 150px);}
/**
* @file /src/app/u/recover/verify/[[...token]]/page.tsx
*/
.wl4RFqE{width: 350px;}
.mNzbFwb{margin-bottom: 10px;}
.tWQT0y{text-align: center;}
.fZOBTEB{font-size: 30px !important;}
/**
* @file /src/app/u/signin/page.tsx
*/
/**
* @file /src/app/u/signup/page.tsx
*/
.m1nMhQP{margin-top:35px;margin-bottom:35px;}
/**
* @file /src/app/u/verify/[[...token]]/page.tsx
*/
.f8vrTmX{font-size: 40px !important;}
/**
* @file /src/app/wrapper.tsx
*/
/**
* @file /src/app/x/page.tsx
*/
.wZPmuod{width: 100px;}
/**
* @file /src/ui.tsx
*/
.zYXgLK{&:hover{text-decoration:underline;}}
.cMD9fJP{color: var(--primary);}
.bQwERWOioO{background-image: linear-gradient(92deg, var(--primary), #2488c8);}
.b0Mn3zqLsWB{background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);}


/**
*Extra Small Devices (Phones)
*/
@media screen and (max-width: 599px){
	.zxpnAY{padding: 20px;}
}

